@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import 'tailwindcss';
@plugin "daisyui";

@plugin '@tailwindcss/forms';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../**';
@source "./**";
@source "../views";
@source "../views/*.blade.php";


@layer base {

    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentcolor);
        scroll-behavior: smooth;
    }
}


/* Toggle Theme mode */
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {

    /* Breakpoints */
    --breakpoint-xs: 480px;
    --breakpoint-sm: 640px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 1024px;
    --breakpoint-xl: 1280px;
    --breakpoint-2xl: 1440px;
    --breakpoint-3xl: 1600px;
    --breakpoint-4xl: 1920px;
    --breakpoint-5xl: 2560px;

    /* Fonts */
    --font-poppins: 'Poppins', sans-serif;

    /* Colors  */
    /* Bacground */
  

    /* Langding start colors  */
     /* Text */
    --color-text-primary: '#FF5500' !important;
    --color-text-primary-hover': '#FF7730'!important;
    --color-secondary: '#333333'!important;
    --color-dark-bg: '#121212'!important;
    --color-dark-darker': '#0A0A0A'!important;
    --color-dark-card: '#1E1E1E'!important;
    --color-dark-lighter: '#1E1E1E'!important;
    --color-dark-border: '#2A2A2A'!important;

    --color-primary-light: #FF7730;
    --color-bg-primary: #121212;
    --color-text-white: #ffffff;

    
    /* Fonts */
    --font-sans: ['Inter', 'sans-serif'];
    /* End Landing Colors */

   
  
    /* Border */
  
}

@utility container {
    padding-inline: 10px;
    margin-inline: auto;
    @apply max-w-screen-2xl;

    @variants sm, md, lg, xl, 2xl {
        max-width: 100%;
    }
}